body {
 background:  #143449;
	text-align: center;
}

.header {
	font-size: 2rem;
	margin-top: 8rem;
	color: #a9c9d8;
}

.btn {
	font-size: 20px;
	color: #a9c9d8;
	background-color: transparent;
 border: 3px solid #001f32;
	border-radius: 20px;
 height: 3rem;
 width: 10rem;
 margin-top: 15rem; 
}

.btn:hover {
 color: #fff;
}

.btn:active {
	color: #fff;
	background-color: #455a64;
}

.row__home {
	margin-top: 2rem; 
}

/*
.home {
	font-size: 20px;
	color: #000;

}

.home:hover {
	text-decoration: none;
}

.home:active {
	color: #000;
}
*/

.section-header {
	font-size: 16px;
	margin-top: 20rem;
	color: #a9c9d8;
}

p {
	font-weight: bold;
	font-size: 16px;
}

a {
	color: #fff;
}

a:hover {
	color: white;
}

/*Медиа запросы*/

/*@media screen and (max-width: 992px) {
	.btn {
		margin: 0.5rem auto;
	}
} */



@media screen and (max-width: 992px) {
	.btn {
		margin: 0rem auto;
		width: 20rem;
		display: block;
		margin-top: 1rem; 
	}

	.row__nav {
 	margin-top: 3rem; 
 }

 .row__home {
 	margin-top: 2rem;
 }

	.header {
		margin-top: 8rem; 
	}

	.section-header{
		margin-top: 15rem;

	}
}

@media screen and (max-width: 768px) {
	.btn  {
		margin: 1rem auto;
		width: 70%;
	}

 .row__nav {
 	 margin-top: 2rem; 
 }

	.row__home {
 	margin-top: 2rem;
 }

	.header {
		margin-top: 3rem; 
	}

	.section-header{
		margin-top: 5rem;

	}
}


